.main {   
    height: 200px;
    width: 100%;
    display: flex;
    background-color: var(--surface-background);
    border-radius: 16px;
    margin: 20px auto;
    border: 1px solid rgb(35, 35, 35);
}
.Image img{
    width: 200px;
    height: 200px;
}

.Content .Heading {
    margin-top: 20px;
    color: var(--text-primary);
}

.Content .text-about {
    margin-top: 16px;
    color: var(--text-primary);
}