.CTA {
    margin: 40px 0;
}

.CTA a {
    padding: 10px 32px;
    border: 2px solid var(--text-primary);
    border-radius: 20px;
    color: var(--text-primary);
    font-weight: 400;
    transition: 0.2s;
}

.CTA a:hover {
    background-color: var(--text-primary);
    color: var(--background);
}

@media (max-width: 768px) {
    .CTA a {
        font-size: 14px;
        padding: 10px 64px;
    }
}
