.main-container-careers {
    display: flex;
    gap: 
    ;
}

.career-card {
    width: 50%;
    height: auto;
    padding: 20px;
    border-radius: 4px;
    background: var(--surface);
    gap: 20px;x
    justify-content: center;
}


.career-card .img-container {
    display: flex;
    justify-content: center;
}

.career-card .img-container img {
    width: 400px;
}