.resource-container {
    background-color: var(--surface-background);
    width: 500px;
    max-width: 300px;
    height: auto;
    border-radius: 8px;
    border: 1px solid #212121;
    padding: 24px;
}

.resource-image img {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 300px;
    border-radius: 8px;
}

h3 {
    text-align: center;
    font-size: 30px;
    font-size: 25px;
    color: var(--text-primary);
    text-transform: capitalize;
}

p {
    color: var(--text-primary);
    text-align: center;
    margin-top: 40px;
}


@media (max-width: 768px) {
    .resource-container {
        max-width: 90%;
    }

    .resource-image img {
        max-width: 100%;
    }

    p {
        margin-left: 4px;
        margin-right: 4px;
    }
}

@media (max-width: 480px) {
    .resource-container {
        max-width: 100%;
    }

    h3 {
        font-size: 1.2em;
    }

    p {
        font-size: 0.9em;
        margin-left: 2px;
        margin-right: 2px;
    }
}